@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

main {
  font-family: "Montserrat";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link-social {
    @apply py-8 lg:pb-20  lg:pt-12 pl-8 bg-main-red flex hover:bg-main-red-active text-white text-base xl:text-ml font-semibold rounded-md items-center;
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #000;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: red;
  border-color: red;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.8em;
}

input[type="radio"] {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #000;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked {
  border-color: red;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: red;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}

.slide-out-right {
  animation: slideOutRight 0.3s ease-out forwards;
}
